---
import Layout from "../layouts/Layout.astro";
import SectionNav from "../components/SectionNav.astro";
import LandingHeader from "../components/LandingHeader.astro";
import SectionAll from "../components/SectionAll.astro";
---

<Layout title="Pokédex Nacional">
    <LandingHeader />

    <main
        class="container mx-auto overflow-y-auto overflow-x-hidden scroll-smooth py-20 lg:py-40 xl:py-40 2xl:py-32 relative"
    >
        <div class="">
            <!-- <div class="container mx-auto"> -->
            <SectionAll />
        </div>
    </main>
</Layout>
