---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LandingHeader from "../components/LandingHeader.astro";
---

<Layout title="Pokédex Nacional">
    <LandingHeader />

    <main></main>
</Layout>
