---
import Layout from "../layouts/Layout.astro";
import SectionNav from "../components/SectionNav.astro";
import LandingHeader from "../components/LandingHeader.astro";
import SectionAll from "../components/SectionAll.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Pokédex Nacional">
    <LandingHeader />

    <main
        class="container mx-auto overflow-y-auto overflow-x-hidden scroll-smooth
        pt-20 pb-4 lg:pt-40 lg:pb-4 xl:pt-40 xl:pb-4
         2xl:pt-32 2xl:pb-4 relative"
    >
        <div class="">
            <!-- <div class="container mx-auto"> -->
            <SectionAll />
        </div>
    </main>
    <Footer />
</Layout>
