---
import Layout from "../layouts/Layout.astro";
import SectionNav from "../components/SectionNav.astro";
import LandingHeader from "../components/LandingHeader.astro";
import SectionAll from "../components/SectionAll.astro";
---

<Layout title="Pokédex Nacional">
    <LandingHeader />

    <main class="p-2rem my-0">
        <!-- <main class="p-2rem my-0"> -->
        <!-- <main class="p-2rem max-w-[1000px] my-0 mx-auto"> -->
        <!-- class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth" -->
        <!-- <div class="py-28 snap-center w-full"> -->

        <div class="container mx-auto">
            <SectionAll />
        </div>
    </main>
</Layout>
