---
import LogoPokemon from "./LogoPokemon.astro";
---

<header id="header" class="bg-white py-3 px-10 fixed top-0 w-full">
    <div class="flex flex-col items-center mb-5">
        <a href="./">
            <LogoPokemon />
        </a>
        <h1 class="text-2xl md:text-5xl font-bold text-gray-400">Pokédex</h1>
    </div>
    <nav class="">
        <ul class="flex gap-2 flex-auto">
            <li>
                <button
                    class="bg-white text-lg hover:bg-gray-200 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl border"
                    id="ver-todos"
                >
                    todos
                </button>
            </li>
            <li>
                <button
                    class="bg-normal text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="normal"
                >
                    normal
                </button>
            </li>
            <li>
                <button
                    class="bg-fire text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="fire"
                >
                    fire
                </button>
            </li>
            <li>
                <button
                    class="bg-water text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl text-white"
                    id="water"
                >
                    water
                </button>
            </li>
            <li>
                <button
                    class="bg-grass text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="grass"
                >
                    grass
                </button>
            </li>
            <li>
                <button
                    class="bg-electric text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="electric"
                >
                    electric
                </button>
            </li>
            <li>
                <button
                    class="bg-ice text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="ice"
                >
                    ice
                </button>
            </li>
            <li>
                <button
                    class="bg-fighting text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl text-white"
                    id="fighting"
                >
                    fighting
                </button>
            </li>
            <li>
                <button
                    class="bg-poison text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="poison"
                >
                    poison
                </button>
            </li>
            <li>
                <button
                    class="bg-ground text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="ground"
                >
                    ground
                </button>
            </li>
            <li>
                <button
                    class="bg-flying text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="flying"
                >
                    flying
                </button>
            </li>
            <li>
                <button
                    class="bg-psychic text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="psychic"
                >
                    psychic
                </button>
            </li>
            <li>
                <button
                    class="bg-bug text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="bug"
                >
                    bug
                </button>
            </li>
            <li>
                <button
                    class="bg-rock text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="rock"
                >
                    rock
                </button>
            </li>
            <li>
                <button
                    class="bg-ghost text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl text-white"
                    id="ghost"
                >
                    ghost
                </button>
            </li>
            <li>
                <button
                    class="bg-dark text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl text-white"
                    id="dark"
                >
                    dark
                </button>
            </li>
            <li>
                <button
                    class="bg-dragon text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl text-white"
                    id="dragon"
                >
                    dragon
                </button>
            </li>
            <li>
                <button
                    class="bg-steel text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="steel"
                >
                    steel
                </button>
            </li>
            <li>
                <button
                    class="bg-fairy text-lg hover:opacity-70 cursor-pointer uppercase font-bold rounded-xl py-3 px-10 shadow-xl"
                    id="fairy"
                >
                    fairy
                </button>
            </li>
        </ul>
    </nav>
</header>
