---
import LogoPokemon from "./logos/LogoPokemon.astro";
import LogoBuscar from "./logos/LogoBuscar.astro";
---

<header
    id="landing-header"
    class="bg-white py-4 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-negro shadow-md relative"
>
    <div class="flex gap-3 text-lg">
        <div class="flex flex-grow basis-0">
            <a href="./"> <LogoPokemon /></a>
        </div>
        <div class="flex items-center justify-center gap-3">
            <form
                action="#"
                method="post"
                id="busqueda"
                class="relative rounded shadow-sm flex items-center"
            >
                <input
                    class="border border-gray-300 rounded py-2 px-5 pr-32 w-full focus:border-gray-400 focus:outline-none focus:shadow-md"
                    type="text"
                    placeholder="Buscar tu Pokémon"
                    id="buscador"
                />

                <input
                    type="image"
                    id="submit-buscador"
                    class="absolute cursor-pointer opacity-20 h-full p-0 right-3 top-0 block"
                    src="buscar.svg"
                />
            </form>
            <nav>
                <ul
                    class="flex text-lg [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-3 [&>li>a]:font-medium [&>li>a]:text-current [&>li>a]:transition-colors [&>li>a]:duration-500"
                >
                    <li>
                        <a href="#">Todos los Pokémon</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <nav class="flex flex-grow basis-0 justify-end">
        <ul
            class="flex text-lg [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-3 [&>li>a]:font-medium [&>li>a]:text-current [&>li>a]:transition-colors [&>li>a]:duration-500"
        >
            <li class="hidden sm:block">
                <a href="https://www.pokemon.com/es" target="_blank"
                    >Web Pokémon</a
                >
            </li>
            <li class="hidden sm:block">
                <a
                    href="https://www.wikidex.net/wiki/Pok%C3%A9Wiki"
                    target="_blank">PokéWiki</a
                >
            </li>
            <li class="hidden sm:block"><a href="#">Git Repo</a></li>
            <li class="block 2xl:hidden">
                <a href="#" id="menu-btn">Menú</a>
            </li>
        </ul>
    </nav>

    <div
        id="menu-backdrop"
        class={`
            absolute bg-black/5 backdrop-blur-lg rounded
            translate-x-[var(--left)] translate-y-[var(--top)]
            left-0 top-0
            w-[var(--width)] h-[var(--height)]
            transition-all duration-500
            ease-in-out opacity-0 -z-10
    `}
    >
    </div>
</header>

<script>
    const listItem = document.querySelectorAll("#landing-header li");
    const menuBackDrop = document.querySelector(
        "#menu-backdrop"
    ) as HTMLElement;

    listItem.forEach((item) => {
        item.addEventListener("mouseenter", () => {
            const { left, top, width, height } = item.getBoundingClientRect();

            // console.log({ left, top, width, height }); // para saber la posicion del cursor
            // const { clientHeight, clientWidth } = item;
            // console.log({ clientHeight, clientWidth }); //identificamos el alto y ancho

            menuBackDrop.style.setProperty("--left", `${left}px`);
            menuBackDrop.style.setProperty("--top", `${top}px`);
            menuBackDrop.style.setProperty("--width", `${width}px`);
            menuBackDrop.style.setProperty("--height", `${height}px`);

            menuBackDrop.style.opacity = "1";
            menuBackDrop.style.visibility = "visible";
        });

        item.addEventListener("mouseleave", () => {
            menuBackDrop.style.opacity = "0";
            menuBackDrop.style.visibility = "hidden";
        });
    });
</script>
