<section class="p-5">
    <nav class="relative">
        <ul
            class="flex items-center justify-center gap-2 flex-wrap [&>li>button]:px-3 [&>li>button]:py-1 [&>li>button]:text-sm [&>li>button]:cursor-pointer [&>li>button]:uppercase [&>li>button]:font-semibold [&>li>button]:rounded-xl [&>li>button]:shadow-2xl [&>li>button]:transition-colors [&>li>button]:duration-500 [&>li>button:hover]:scale-105 [&>li>button:hover]:opacity-70"
        >
            <li>
                <button class="bg-normal" id="normal"> normal </button>
            </li>
            <li>
                <button class="bg-fire" id="fire"> fire </button>
            </li>
            <li>
                <button class="bg-water text-white" id="water"> water </button>
            </li>
            <li>
                <button class="bg-grass" id="grass"> grass </button>
            </li>
            <li>
                <button class="bg-electric" id="electric"> electric </button>
            </li>
            <li>
                <button class="bg-ice" id="ice"> ice </button>
            </li>
            <li>
                <button class="bg-fighting text-white" id="fighting">
                    fighting
                </button>
            </li>
            <li>
                <button class="bg-poison" id="poison"> poison </button>
            </li>
            <li>
                <button class="bg-ground" id="ground"> ground </button>
            </li>
            <li>
                <button class="bg-flying" id="flying"> flying </button>
            </li>
            <li>
                <button class="bg-psychic" id="psychic"> psychic </button>
            </li>
            <li>
                <button class="bg-bug" id="bug"> bug </button>
            </li>
            <li>
                <button class="bg-rock" id="rock"> rock </button>
            </li>
            <li>
                <button class="bg-ghost text-white" id="ghost"> ghost </button>
            </li>
            <li>
                <button class="bg-dark text-white" id="dark"> dark </button>
            </li>
            <li>
                <button class="bg-dragon text-white" id="dragon">
                    dragon
                </button>
            </li>
            <li>
                <button class="bg-steel" id="steel"> steel </button>
            </li>
            <li>
                <button class="bg-fairy" id="fairy"> fairy </button>
            </li>
        </ul>
    </nav>
</section>
