<section class="mx-auto">
    <div id="todos">
        <div
            class="pokemon-todos mx-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
            id="listaPokemon"
        >
        </div>
    </div>
</section>

<script src="../scripts/main.js"></script>
